@model ABC_API.Models.Balance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Balance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Balance1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Balance_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
